//  =============== reset

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  outline: none;
  border: none;
}
