$color-white: #fff;
$color-cream: #f2eae2;
$color-gray: #6c7289;
$color-green: #3d8168;
$color-green-hover: #1a4032;
$color-black: #1c232b;

$font-heading: "Fraunces", serif;
$font-reg: "Montserrat", sans-serif;
